
.manageevents{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    justify-content: center;
    width: 82%;
    margin: 0 auto;
    margin-top: 20px;
    border: 1px solid grey;
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(63, 23, 23, 0.589);
    color: white;
}

@media only screen and (max-width: 688px) {
    .manageevents{
        grid-template-columns: repeat(1, 1fr);
    }
}
@media only screen and (min-width: 689px) and (max-width: 991px) {
    .manageevents{
        grid-template-columns: repeat(1, 1fr);
    }
}