.addevent form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.addevent input, textarea{
    width: 340px;
    margin-top: 20px;
    border: 1px solid rgb(211, 93, 93);
    border-radius: 5px;
    padding: 5px;
}
.addevent{
    background-color: rgb(172, 71, 121);
    padding-bottom: 40px;
}