.banner{
    background-image: url('https://images.unsplash.com/photo-1586521995568-39abaa0c2311?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=870&q=80');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
}
.banner h3{
    display: inline-block;
    font-size: 60px;
    color:rgb(59, 43, 7);
    margin-top: 20px;
}